#topBox {
    position: relative;
    float: left;
    height: 150px;
    width: 100%;
    z-index: 2;
}
#depBtn {
    position: relative;
    float: left;
    width: 60px;
    height: 150px;
    margin-right: 0px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
}
#bereichContent {
    position: absolute;
    display: none;
    float: left;
    margin-left: 60px;
    height: 150px;
    width: 1020px;
    overflow-x: auto;
    overflow-y: hidden;
}
#bereichImageContent {
    overflow: hidden;
    height: 154px;
    width: 1250px;
}
.bereicheWrapper {
    position: relative;
    float: left;
    width: 250px;
    height: 150px;
}
.bereiche {
    position: relative;
    float: left;
    width: 250px;
    height: 150px;
    border-right: 1px solid #a2a2a2;
    background-color: #313131;
    text-align: center;
}
.bereicheLabel {
    position: relative;
    width: 250px;
    top: 63px;
    color: rgba(255, 255, 255, .6);
    font-size: 1.3em;
    z-index: 4;
}
#buildBtn {
    position: relative;
    float: left;
    width: 60px;
    height: 150px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    box-shadow: -1px 0px #ddd;
}
#gebäudeContent {
    position: absolute;
    display: none;
    float: left;
    margin-left: 120px;
    height: 150px;
    width: 1020;
    overflow-x: auto;
    overflow-y: hidden;
}
#gebäudeImageContent {
    overflow: hidden;
    height: 154px;
    width: 1250px;
}
.gebäude {
    position: relative;
    float: left;
    width: 250px;
    height: 150px;
    border-right: 1px solid #a2a2a2;
    background-color: #313131;
    text-align: center;
}
.gebäudeLabel {
    position: relative;
    width: 250px;
    top: 63px;
    color: rgba(255, 255, 255, .6);
    font-size: 1.3em;
    z-index: 4;
}
#roomBtn {
    position: relative;
    float: left;
    width: 60px;
    height: 150px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    box-shadow: -1px 0px #ddd;
}
#raumContent {
    position: absolute;
    display: none;
    float: left;
    margin-left: 180px;
    height: 150px;
    width: 1020px;
    overflow-x: auto;
    overflow-y: hidden;
}
#raumImageContent {
    overflow: hidden;
    height: 154px;
    width: 1250px;
}
.räume {
    position: relative;
    float: left;
    width: 250px;
    height: 150px;
    border-right: 1px solid #a2a2a2;
    background-color: #313131;
}
#imageSlider {
    position: absolute;
    overflow: hidden;
    height: 154px;
    width: 1200px;
    z-index: 1;
}
.roomImage {
    position: relative;
    width: 300px;
    height: 150px;
    float: left;
    box-shadow: -1px 0px #797979;
    background-color: #313131;
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: center;
}
.roomImageWrapper {
    position: relative;
    width: 300px;
    height: 150px;
    float: left;
}
.roomLabel {
    position: absolute;
    bottom: 0px;
    width: 300px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    font-size: 1.3em;
    z-index: 4;
}
.roomImage.toggle {
    outline: 2px solid rgba(58, 170, 203, 0.65);
    outline-style: inset;
}
.toggleOnOff {
    position: absolute;
    top: 2px;
    right: 145px;
    width: 30px;
    height: 30px;
    opacity: 1;
    background-image: url(../img/icons/ToggleOn2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}
.toggleOnOff.toggled {
    background-image: url(../img/icons/ToggleOff3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.profileBtnClass {
    position: absolute;
    background-image: url(../img/icons/Profile2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    right: 115px;
    top: 2px;
    width: 30px;
    height: 30px;
    z-index: 3;
}