#profileUploadContent {
    position: absolute;
    right: 0px;
    margin-top: 235px;
    margin-right: 10px;
    align-content: center;
    overflow: auto;
    width: 720px;
    height: 465px;
    background: #313131;
    z-index: 1;
    display: none;
}
#profileUploadContentWrapper {
    width: 670px;
    height: 420px;
    margin-left: 15px;
}
#profileHinzTopLabelContent {
    text-align: center;
    position: absolute;
    width: 720px;
    height: 35;
    z-index: 1;
    margin-top: 200px;
    right: 0px;
    margin-right: 10px;
    z-index: 2;
    display: none;
}
.profileHinzTopLabel {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 150%;
}
#profilName {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#profilNameText {
        background-color: rgba(92, 92, 92, 0.5);
    border: 2px solid rgba(159, 159, 159, 0.18);

    color: white;
    width: 300px;
    height: 30px;
}
#profilBildUploadBtn {
    float: right;
    margin-left: 20px;
    width: 300px;
    height: 30px;
    border: 0px solid #c2c2c2;
    color: white;
    font-size: 1.2em;
    background-color: rgb(30, 31, 31);
    background-image: url(../img/icons/Profile2Upload.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
}
#profilBildUploadBtn:hover {
    background-color: rgba(92, 92, 92, 0.5);
}
#pickerProfile {
    position: absolute;
    cursor: crosshair;
    margin-left: 5px;
    z-index: 2;
}
#uploadContent {
    float: right;
    border: 4px dashed rgb(136, 136, 136);
}
#formBtnUpload {} #cancelBtn {
    float: left;
    width: 359px;
    height: 30px;
    margin-top: -5px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(30, 31, 31);
    border: 0px solid #c2c2c2;
    z-index: 3;
}
#cancelBtn:hover {
    background-color: rgba(92, 92, 92, 0.5);
}
#uploadBtn {
    float: right;
    width: 359px;
    height: 30px;
    margin-top: -5px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(30, 31, 31);
    border: 0px solid #c2c2c2;
}
#uploadBtn:hover {
    background-color: rgba(92, 92, 92, 0.5);
}
#pickerProfileWrapper {
    width: auto;
    height: auto;
    position: relative;
}