#profileContent {
    position: absolute;
    align-content: center;
    overflow: auto;
    width: 1180px;
    height: 500px;
    background: rgba(227, 227, 227, 0.9);
    z-index: 6;
    padding: 10px;
    display: none;
}
.profileContentImg {
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 30px;
    background: url(../img/slider/Relax.png);
}
.profileLabel {
    position: absolute;
    bottom: 0px;
    float: left;
    padding-left: 5px;
    color: rgba(255, 255, 255, .6);
    font-size: 1.3em;
    z-index: 10;
}
.profileLabel.clicked {
    color: rgba(255, 255, 255, 1);
}
#profileAddBtn {
    position: absolute;
    color: #363636;
    background-color: white;
    top: 0px;
    left: 0px;
    padding: 3px;
    font-size: 1em;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    z-index: 1;
}
#profileAddBtn:hover {
    background-color: grey;
}
.btnDelete {
    width: 50px;
    height: 50px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
}
.btnDelete:hover {
    background-color: grey;
}