html {
    background-color: #f0f3f6;
}
#backgroundContent {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
#loginContentWrapper {
    position: relative;
    width: 420px;
    left: 50%;
}
#loginContent {
    position: relative;
    margin-top: 200px;
    margin-left: -210px;
    width: 420px;
    height: auto;
    text-align: center;
    background-color: rgb(105, 0, 0);
    color: black;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #000000;
    box-shadow: 0px 1px 2px 0px black;
    padding: 15px 15px 0px 15px;
}
input {
    margin-bottom: 10px;
    height: 25px;
    width: 300px;
}
#submit {
    margin-top: 20px;
    margin-left: -15px;
    width: 450px;
    height: 30px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
}
#submit:hover {
    background-color: #e3e3e3;
}
#topText {
    position: relative;
    width: 100%;
    min-width: 950px;
    height: 100px;
    background-color: rgb(105, 0, 0);
    font-size: 4.0em;
    text-align: center;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #000000;
    color: white;
    z-index: 2;
}
